<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.microsoft.smartalarm" >

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera.front" android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".AlarmPagerActivity"
            android:label="@string/app_name"
            android:parentActivityName=".AlarmListActivity" >
        </activity>
        <activity
            android:name=".AlarmListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AlarmRingingActivity" />

        <service
            android:name=".AlarmService"
            android:enabled="true" />

        <receiver android:name=".AlarmManagerHelper" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".AlarmGlobalSettingsActivity"
            android:label="@string/title_activity_alarm_settings"
            android:parentActivityName=".AlarmListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.microsoft.smartalarm.AlarmListActivity" />
        </activity>


        <activity android:name=".GameTwister"
                  android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
        </activity>

        <activity android:name=".GameColorFinderActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
        </activity>

        <activity android:name="net.hockeyapp.android.UpdateActivity" />
        <activity android:name="net.hockeyapp.android.FeedbackActivity" />
        <activity android:name="net.hockeyapp.android.PaintActivity" />
    </application>

</manifest>
